

.header
    backdrop-filter: blur(2px)
    position: fixed
    z-index: 99999
    width: 100vw
    height: 80px
    background: #0005

    .wrap
        height: 100%
        gap: 2em
        +flex(space-between, center)
        .logo
            font-family: $family-logo
            font-size: $font-l
            font-weight: 400
            letter-spacing: 1px
            font-stretch: condensed
            text-transform: uppercase
            color: #fff
        .nav
            +flex(end, center)
            flex-grow: 1
            .menu
                +flex(start, center)
                gap: 2em
                color: #fff
                height: 100%
                .signIn
                    gap: 0.5em
                    +flex(center, center)
                    gap: 4px
